@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f5ec;
}
mark {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background-color: rgb(200, 210, 212, 0.6);
}
