@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f5ec;
}
mark {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background-color: rgb(200, 210, 212, 0.6);
}

.rsvp-hero {
  background-image: url(../public/assets/RsvpHero.jpg);
  background-repeat: no-repeat;
  opacity: 0.8;
  height: 600px;
}

#arc > span[class^='w']:nth-of-type(n + 0) {
  display: block;
  position: absolute;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

#arc .w0 {
  -moz-transform: rotate(-1.14rad);
  -webkit-transform: rotate(-1.14rad);
  -o-transform: rotate(-1.14rad);
  -ms-transform: rotate(-1.14rad);
  transform: rotate(-1.14rad);
  width: 21px;
  height: 24px;
  left: 42.7px;
  top: 93.95px;
}

#arc span {
  line-height: 0.65;
  white-space: pre;
  overflow: visible;
  padding: 0px;
}

.layered-card::before {
  background: none;
  border: 2px solid black;
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(-1.5rem, -1.5rem);
  height: 100%;
  width: 100%;
  z-index: -1;
}

.container__video__wrapper {
  /* Positioned at the top left corner */
  left: 0px;
  position: absolute;
  top: 0px;

  /* Take full size */
  height: 100%;
  width: 100%;

  /* Hide the scrollbar */
  overflow: hidden;
}

.container__video__player {
  object-fit: cover;

  /* Center the video */
  /* left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); */

  /* Take full width */
  width: 100%;
}

.container__video {
  /* Used to position the video and content */
  position: relative;
}

.container__video__content {
  /* Positioned at the top left corner */
  left: 0px;
  position: absolute;
  top: 0px;

  /* Take full size */
  height: 90%;
  width: 100%;

  /* Center the content */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .rsvp-hero {
  position: relative;
  z-index: 1;
}

.rsvp-hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
  background-image: url(../public/assets/RsvpHero.jpg);
  background-repeat: no-repeat;
  height: 600px;
} */
